body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
}

.bgimg-1, .bgimg-2, .bgimg-3, .bgimg-4 {
  position: relative;
  opacity: 0.85;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center -10vh;

}
.bgimg-1 {
  background-image: url("images/seanDev.jpeg");
  height: 400px;
}

.bgimg-2 {
  background-image: url("images/seanDev.jpeg");
  min-height: 200px;
}

.bgimg-3 {
  background-image: url("images/seanDev.jpeg");
  min-height: 200px;
}

.bgimg-4 {
  background-image: url("images/seanDev.jpeg");
  height: 5vh;
}


.caption {
  position: absolute;
  left: 0;
  top: 10%;
  width: 100%;
  text-align: center;
  color: #000;
}

.caption span.border {
  background-color: #111;
  color: #fff;
  padding: 18px;
  font-size: 25px;
  letter-spacing: 10px;
  opacity: 1;
}

h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;
}

.frameworks {
  display: inline;
  text-align: center;
  color: white;
}

.bt-pic, .ffr-pic, .amMan-pic {
  width: 100%;
  opacity: .9;
  max-width: 700px;
  display: block;
  overflow: hidden;
  margin: auto;
}

footer {
  background-color: #282E34;
  text-align: center;
  color: white;
  margin: 0;
}

p {
  font-size: 1.8vh;
}

.container {
  width: 500px;
  padding: 3vh 5vh;
  color:#ddd;
  background-color:#282E34;
  margin: auto;
  position: relative;
  border-radius: 4px;
}

.bio-container {
  color: #777;
  background-color:white;
  text-align:center;
  padding:3vh 2vh;
  text-align: justify;
  width: 550px;
  margin: auto;
}

/* Turn off parallax scrolling for tablets and phones */
@media only screen and (max-device-width: 1024px) {
    .bgimg-1, .bgimg-2, .bgimg-3 {
        background-attachment: scroll;
    }
}
